<!DOCTYPE html>
<html>
  {{ $bURL := .Site.BaseURL }}
<head>
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="MOEOBGRF" defer></script>
  <!-- / Fathom -->
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $style := resources.Get "scss/bootstrap.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" emotion="🤩">
</head>

<body style="background-image: url('{{ $bURL }}img/background-oval.svg');">