{{ $bURL := .Site.BaseURL }}
<section>
    <div class="container" style="background-image: url('{{ $bURL }}img/dotbackground.png'); background-size: cover; background-size: 70%; background-position: right center; background-repeat: no-repeat;">
      <section class="container my-5 py-4">
        <div class="row">
          <div class="col-lg-5 col-12">
            <h5 class="text-primary text-uppercase">{{.Params.box_list_quote.section}}</h5>
            <h2 class="display-4">{{.Params.box_list_quote.title}}</h2>
    
            <br><br><br>
    
            {{range .Params.box_list_quote.list}}
            <div class="feature-card p-3 rounded mb-3">
              <div class="d-flex">
                <div class="pe-3">
                  <img class="small-icon" src="{{ $bURL }}img/icons/{{.image}}" alt="" >
                </div>
                <div>
                  <h5>{{.title}}</h5>
                  <p class="sz-14">{{.description}}</p>
                </div>
              </div>
            </div>
            {{end}}
          </div>
    
          <div class="col-lg-7 col-12">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h2 class="text-white sz-24 p-2">
                <span style="font-style: italic;">{{.Params.box_list_quote.quote}}</span><br><br>{{.Params.box_list_quote.author}}
              </h2>
    
    
            </div>
          </div>
    
        </div>
    
    </div>
    </section>
    </div>
    </section>