{{ $bURL := .Site.BaseURL }}
{{- partial "head.html" . -}}

{{ if .Params.graphicClass }}
<div class="container {{ .Params.graphicClass }}" id="header"
  style="background-image: url('{{ $bURL }}img/partners/{{ .Params.graphicImage1 }}.png'), url('{{ $bURL }}img/partners/{{ .Params.graphicImage2 }}.png')">
  {{ else }}
  <div class="container " id="header">
    {{end }}

    <nav class="navbar navbar-expand-lg navbar-dark p-4">
      <div class="container">
        <a class="navbar-brand" href="{{ $bURL }}">
          <img src="{{ $bURL }}img/sentify-logo.svg" width="130px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase text-lg-start text-end">
            <li class="nav-item">
              <a class="nav-link {{ if eq .Page.Title `About Us` }} active {{ end }}" href="{{ $bURL }}about/">About
                Us</a>
            </li>
            <li class="nav-item {{ if eq .Page.Title `Our Offerings` }} active {{ end }}">
              <a class="nav-link" href="{{ $bURL }}#our-offerings">Our Offerings</a>
            </li>
            <li class="nav-item {{ if eq .Page.Title `Case studies` }} active {{ end }}">
              <a class="nav-link" href="{{ $bURL }}case-studies/">Case Studies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ if eq .Page.Title `Contact Us` }} active {{ end }}"
                href="{{ $bURL }}contact/">Contact Us</a>
            </li>



            <li class="nav-item position-relative has-subnav" onclick="toggleNav()">
              <a class="nav-link {{ if eq .Page.Title `Product` }} active {{ end }}">Product</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255,255,255,.55)"
                class="subnav-icon bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg></li>
            <div id="subnav" class="product-subnav d-none mt-5">
              <div class="row d-flex align-items-center h-100 px-4 py-4">
                <div class="col-4 h-50">
                  <a href="{{ $bURL }}atlassian/">
                    <div class="logo">
                      <img src="{{ $bURL }}img/brand-logos/atlassian.png">
                    </div>
                    <div class="title">
                      Atlassian Platinum Global<br>Solution Partner
                    </div>
                  </a>
                </div>

                <div class="col-4 h-50">
                  <a href="{{ $bURL }}gitlab/">
                    <div class="logo">
                      <img src="{{ $bURL }}img/brand-logos/gitlab.png">
                    </div>
                    <div class="title">
                      GitLab Select<br>Channel Partner
                    </div>
                  </a>
                </div>
                <div class="col-4 h-50">
                  <a href="{{ $bURL }}cloud-partners/">
                    <div class="logo">
                      <img src="{{ $bURL }}img/brand-logos/microsoft.png">
                    </div>
                    <div class="title">
                      Microsoft Gold<br>DevOps Partner
                    </div>
                  </a>
                </div>
                <div class="col-4 h-50">
                  <a href="{{ $bURL }}parasoft/">
                    <div class="logo">
                      <img src="{{ $bURL }}img/brand-logos/parasoft.png">
                    </div>
                    <div class="title">
                      Parasoft<br>APAC Distributor
                    </div>
                  </a>
                </div>
                <div class="col-4 h-50">
                  <a href="{{ $bURL }}alm/">
                    <div class="logo">
                      <img src="{{ $bURL }}img/brand-logos/almworks.png">
                    </div>
                    <div class="title">
                      ALM Works<br>APAC Partner
                    </div>
                  </a>
                </div>
                <div class="col-4 h-50">
                  <a href="{{ $bURL }}cloud-partners/">
                    <div class="logo">
                      <img src="{{ $bURL }}img/partners/aws-select.png">
                    </div>
                    <div class="title">
                      AWS Select Partner
                    </div>
                  </a>
                </div>
              </div>
            </div>
            </li>
            <div class='d-none' id='mobile-subnav'>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase text-lg-start text-end">
                <li class="nav-item subnav-item">
                  <a class="nav-link sz-12" href="{{ $bURL }}atlassian/">Atlassian Platinum Global Solution Partner</a>
                </li>

                <li class="nav-item subnav-item">
                  <a class="nav-link sz-12" href="{{ $bURL }}gitlab/">GitLab Select Channel Partner</a>
                </li>
                <li class="nav-item subnav-item">
                  <a class="nav-link sz-12" href="{{ $bURL }}cloud-partners/">Microsoft Gold DevOps Partner</a>
                </li>

                <li class="nav-item subnav-item">
                  <a class="nav-link sz-12" href="{{ $bURL }}parasoft/">Parasoft APAC Distributor</a>
                </li>
                <li class="nav-item subnav-item">
                  <a class="nav-link sz-12" href="{{ $bURL }}alm/">ALM Works APAC Partner</a>
                </li>
                <li class="nav-item subnav-item">
                  <a class="nav-link sz-12" href="{{ $bURL }}cloud-partners/">AUCloud Data Sov. Hosting Partner</a>
                </li>
              </ul>
            </div>
          </ul>

        </div>


      </div>

    </nav>
