<section class="cover my-sm-5 mb-3 mb-sm-0">
    <div class="container">
      <h1 class="font-weight-medium display-4 font-weight-medium">{{ .Params.hero.title }}</h1>
      <p class="site-subtitle sz-24">{{.Params.hero.description}}</p>
    </div>
    {{- partial "hero-graphic.html" . -}}
  </div>
</section>