{{ $bURL := .Site.BaseURL }}
<section id="features" class="container my-sm-5 mb-3 mb-sm-0 py-sm-2">
    <div class="row text-center">
      <div class="col-lg-4 col-12 mb-4">
        <span class="iconShadow orange">
          <img src="{{ $bURL }}img/icons/constructive-change.svg" class="mb-4 " alt="">
        </span>
  
        <h3>{{.Params.hero.item1.title}}</h3>
        <p class="sz-16">{{.Params.hero.item1.description}}</p>
      </div>
      <div class="col-lg-4 col-12 mb-4">
        <span class="iconShadow blue">
          <img src="{{ $bURL }}img/icons/delivery-excellence.svg" class="mb-4" alt="">
        </span>
  
        <h3>{{.Params.hero.item2.title}}</h3>
        <p class="sz-16">{{.Params.hero.item2.description}}</p>
      </div>
      <div class="col-lg-4 col-12 mb-4">
        <span class="iconShadow orange">
          <img src="{{ $bURL }}img/icons/cloud-enablement.svg" class="mb-4" alt="">
        </span>
  
        <h3>{{.Params.hero.item3.title}}</h3>
        <p class="sz-16">{{.Params.hero.item3.description}}</p>
      </div>
    </div>
  </section>