{{ $bURL := .Site.BaseURL }}
{{- partial "header.html" . -}}
<section class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-lg-8 offcol-12">
      <!-- main content here -->
      
      <h1 class="display-5">{{ .Title }}</h1>
      
      {{ range .Params.section }}
      <div class="row mb-3">
        <div class="col-lg-5 col-12">
          <h4 class="bigShoulderText text-primary h1 text-uppercase">{{ .title }}</h4>
        </div>
        <div class="col-lg-7 col-12 sz-16">{{ .description }}</div>
      </div>
      {{ end }}
   
      <div class="row">
      {{- partial "register.html" . -}}
      </div>
  
      <div class="row">
        <div class="col-lg-5 col-12">
          <h4 class="bigShoulderText text-primary h1 text-uppercase"></h4>
        </div>
        <div class="row my-5">
          <h2 class="display-5">{{.Params.background.title}}</h2>
          <p class="text-muted sz-16">{{.Params.background.summary}}</p>
          <p class="text-muted sz-16">{{.Params.background.description}}</p>
          <div class="col-12 col-lg-7 px-3 px-lg-7">
            <div class="colored-list">
               {{range .Params.background.list}}
               <p class="h6 mb-3 d-flex"><span class="rounded pr-5 d-block" style="width: 20px; height: 20px; "></span>
                  {{.title}}
               </p>
               {{ end }}
            </div>
            
         </div>
     
         <p class="text-muted sz-16">{{.Params.background.final}}</p>
        
        </div>
        
    </div>


</div>

</section>
{{- partial "footer.html" . -}}


