{{ $bURL := .Site.BaseURL }}
{{- partial "header.html" . -}}

<!--Contact Form-->
{{- partial "contact-us.html" . -}}

  <!-- locations -->
<section>
  <div class="row my-5">
    <div class="col-lg-12 col-12">
      <h5 class="text-primary text-uppercase">Visit Us</h5>
      <h2 class="display-5 pb-4">Locations</h2>

    </div>

    <div class="col-lg-12 col-12">
      <div class="row">
        {{ range .Params.locations }}
        <div class="col-lg-3 col-6">
          <div class="p-3">
            <img src="{{ $bURL }}img/icons/location.svg" class="mb-3" alt="">
            <h5>{{ .office }}</h5>
            <p class="sz-14">
              {{ .address1 }}<br>
              {{ if .address2 }}
              {{ .address2 }}<br>
              {{ end }}
              {{ if .suburb }}
              {{ .suburb }}<br>
              {{ end }}
              {{ if .city }}
              {{ .city }}<br>
              {{ end }}
              {{ if .state }}
              {{ .state }}<br>
              {{ end }}
              {{ if .post }}
              {{ .post }}<br>
              {{ end }}
              {{ .email }}<br>
              {{ .phone }}</p>
          </div>
        </div>
        {{ end }}
      </div>

    </div>


  </div>

  <div class="feature-card p-5 rounded text-center">
    <br>
    <h5 class="text-primary text-uppercase">Join Us</h5>
    <h3 class="display-5 interested">Interested in working with us?</h3>
    <p class="sz-16">Drop us a line</p>
    <button class="btn btn-outline-light btn-lg mt-4" onclick="location.href='mailto:jobs@sentify.co';">Mail Us →</button>
    <br>
  </div>

</section>

{{- partial "footer.html" . -}}